<!DOCTYPE html>
<html lang="en" color-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boilerplate</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>

  <div class="container">
    <p style="text-align: center; font-size: 2rem;">hyper-express mongo boilerplate</p>
  </div>

	<script src="static/index.js"></script>
  </body>
</html>
